:root {
    --hoverColor: rgba(211, 211, 211, 0.339);
    --borderRadius: 8px;
}

.sidebarBody, .progressbarBody, .loadmoreBody, .paginationBody, .tabsBody, .passwordgenBody, .searchBody, .imagesliderBody, .accordionBody, .modalpageBody, .weatherBody, .scrollbody, .tictactoeBody, .reactpageBody, .javapageBody, .flowingnotesBody, .dadnotesBody, .quizBody, .todolistBody, .currencyBody {
    gap: 2rem;
}

.dadnotesContainer, .searchContainer, .tabContainer, .gitfinderContainer, .loadmoreContainer, .quizContainer, .todolistContainer, .currencyContainer {
    min-height: 25rem;
}

.sidebarBody .header {
    gap: 0.5rem;
}
.sidebarBody .links {
    gap: 1rem;
}
.sidebar .header .icon:hover {
    color: blue;
    cursor: pointer;
}

.progress {
    height: 2rem;
    min-width: 80%;
    margin: auto;
    overflow: hidden;
    border: 1px solid gray;
    background-color: var(--hoverColor);
    display: flex;
    align-items: center;
    position: relative;
    border-radius: var(--borderRadius);
}
.progress span {
    font-size: 1.1rem;
    font-weight: bold;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.progress div {
    background-color: #00c251;
    height: 100%;
}

.loadmoreBody .items {
    gap: 1rem;
}

.tabContainer {
    border: 1px solid gray;
    border-radius: var(--borderRadius);
}
.tabsContent {
    padding: 1rem;
}
.tabsHeader {
    border-bottom: 1px solid lightgray;
}
.tabName {
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    border-right: 1px solid lightgray;
    cursor: pointer;
    gap: 0.6rem;
}
.tabName:hover {
    background-color: var(--hoverColor);
}
.tabRemoveButton {
    background-color: transparent;
    border: none;
}
.tabRemoveButton .icon {
    background-color: var(--hoverColor);
    font-size: 1rem;
}
.tabRemoveButton .icon:hover {
    color: wheat;
    background-color: red;
}
.tabName .tabRemoveButton {
    margin-top: 0.2rem;
}

.passwordgenContainer {
    gap: 1rem;
    border-radius: var(--borderRadius);
    border-radius: 8px;
}
.passwordgenPassword {
    padding-left: 1rem;
    border-radius: var(--borderRadius);
}
.passwordgenChoices {
    gap: 1rem;
}
.charLength {
    gap: 0.5rem;
}
.passwordgenGenButton {
    justify-content: end !important;
}
.passCheckboxContainer {
    gap: 0.2rem;
}
.passCheckboxes {
    padding: 0.8rem;
    border: 1px solid lightgray;
}
.passCheckbox {
    gap: 0.2rem;
}
.passCheckbox p {
    margin-bottom: 0.2rem;
}
.strengthContainer {
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: var(--borderRadius);
}
.strengthInfo {
    font-weight: 600;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: var(--borderRadius);
}

.loadmoreContainer {
    gap: 1rem;
}

.suggestions {
    background-color: var(--hoverColor);
    text-align: center;
    padding-top: 0.5rem;
}
.suggestion {
    border-bottom: 1px solid lightgray;
    width: 100%;
    cursor: pointer;
    padding-bottom: 0.5rem;
}
.suggestion:hover {
    background-color: var(--hoverColor);
}

.slider {
    gap: 0.5rem;
}
.image img {
    width: 40rem;
    border-radius: var(--borderRadius);
}
.image .inactiveImage {
    display: none;
}
.buttons {
    justify-content: center;
    gap: 0.5rem;
}
.sliderComp {
    gap: 0.5rem;
    width: fit-content;
    margin: auto;
}
.sliderComp .button {
    padding: 0rem !important;
}
.sliderComp .MuiSvgIcon-root {
    font-size: 2.3rem;
}
.currentImageCircle {
    font-size: 0.5rem !important;
    padding: 0rem !important;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.currentImageCircle .MuiSvgIcon-root {
    font-size: 1.1rem !important;
}

.accordionBox {
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: var(--borderRadius);
    padding-bottom: 1rem;
}
.accordionContainer {
    gap: 1rem;
}
.accordionBoxes {
    gap: 1rem;
}
.accordionBoxQuestion .button {
    padding: 0rem 0.5rem;
}
.accordionHeader {
    justify-content: end !important;
}

.gitfinderBody {
    gap: 2rem;
}
.profile {
    gap: 1rem;
}
.profileDetails {
    gap: 2rem;
    justify-content: center;
}
.profileDetails img {
    width: 15rem;
    border-radius: 50%;
}
.profileDetailsHeader .link {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.profileDetailsText {
    gap: 0.5rem;
}
.profileDetailsText .md-font {
    color: rgba(0, 0, 0);
}

.modalpageContainer {
    gap: 1rem;
}
.modal {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.306);
}
.modalBody {
    inset: 0;
    width: 40rem;
    background-color: white;
    padding: 1rem;
    border-radius: var(--borderRadius);
    gap: 1rem;
}
.modalFooterButton {
    justify-content: end !important;
}

.scrollbodyContainer {
    gap: 1rem;
}
.stbitems {
    gap: 0.5rem;
}

.todolistContainer {
    gap: 1rem;
}
.todos {
    gap: 1rem;
    padding-left: 0.5rem;
}
.todo {
    gap: 1rem;
    max-width: 16rem;
}
.todo .button {
    padding: 0.2rem 0.5rem;
}

.quizContainer {
    gap: 1rem;
}
.question {
    gap: 0.5rem;
}
.options {
    display: grid;
    grid-template-columns: auto auto;
    width: 30rem;
    gap: 0.5rem;
}
.option {
    padding: 0.2rem 0.5rem !important;
    font-size: 1rem !important;
    width: 100% !important;
}
.question .md-font, .result .md-font {
    font-size: 1.1rem;
    font-weight: normal;
}
.result {
    gap: 0.5rem;
}
.questionsInfo {
    margin-top: 1rem;
    gap: 0.25rem;
}
.questionsInfo p[data-correct="true"] {
    color: green;
}
.questionsInfo p[data-correct="false"] {
    color: red;
}

.currencyContainer {
    gap: 1rem;
}
.from, .to, .amount {
    gap: 0.5rem;
}