:root {
    --grayColor: #dee2e6;
    --darkColor: #31363F;
    --blueColor: #0071e3;
    --backgroundColor: #f5f5f7;
}

.contactContainer, .whatiknowContainer {
    border: none !important;
}
/* ---------------------------------------------- */

.homeBody {
    gap: 2rem;
}
/* --------------------------------------------- */

.mine_img {
    width: 3.5rem;
    border-radius: 50%;
}
.mine_img_res {
    width: 13rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.navbarBody {
    padding: 1rem 2rem;
}
.navbarLeft {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.name {
    font-size: 1.4rem;
    font-weight: 700;
}
.email {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.686);
}
.navbarRight {
    gap: 0.5rem;
}
/* ----------------------------------------------------- */

.miniprojectsContainer {
    display: flex;
    padding: 0rem !important;
}
.miniprojSidebar {
    flex: 0.2;
    gap: 2rem;
    padding: 1rem;
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    background-color: var(--backgroundColor);
}
.miniprojSidebarLinks {
    gap: 0.8rem;
}
.miniprojDisplay {
    flex: 0.8;
    padding: 1rem;
}
/* -------------------------------------------------- */

.whatiknowBody {
    padding: 1rem 0rem;
}
.whatiknowContainer {
    gap: 1rem;
}
.whatiknowlabel {
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  width: fit-content;
  border-radius: var(--borderRadius);
  color: white;
  background-color: black;
}
.cards {
    gap: 1rem;
    justify-content: space-between;
}
.card {
    border-radius: 8px;
    height: 14rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--backgroundColor);
}
.cardlabels {
    gap: 0.5rem;
    flex-wrap: wrap;
}
.card img {
    background-size: cover;
    overflow: hidden;
}

/* -------------------------------------------------------- */

.heroContainer {
    padding: 10rem 0rem;
}
.responsiveHero {
    display: none !important;
}
.heroContainer {
    gap: 0.8rem;
    align-items: center;
}
.about {
    align-items: center;
}
.build {
    color: rgba(0, 0, 0, 0.7);
}
.location {
    font-weight: 600;
}
.like {
    font-size: 1.1rem;
}

.contactBody {
    display: flex;
    gap: 1rem;
}
.contactwithme {
    border: none !important;
    gap: 1rem;
}
.contactwithmeContianer {
    gap: .5rem;
}
.icons {
    gap: 1rem;
    margin-top: 1rem;
}
.locationDiv, .mailDiv {
    gap: 1rem;
}
.getintouch {
    gap: 1rem;
    width: fit-content;
}
.form {
    gap: 0.5rem;
    width: 40rem;
}
.contactInput {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    border-radius: 8px;
    border: 1px solid lightgray;
}
.formNameEmail {
    gap: 1rem;
}
.formButton {
    width: 100% !important;
    height: 2.8rem;
    margin-top: 0.5rem;
}