:root {
    --grayColor: #dee2e6;
    --darkColor: #31363F;
}

.contactContainer, .whatiknowContainer {
    border: none !important;
}

.homeBody {
    gap: 2rem;
}
.mine_img {
    width: 3.5rem;
    border-radius: 50%;
}
.navbarBody {
    padding: 1rem 2rem;
}
.navbarLeft {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.name {
    font-size: 1.4rem;
    font-weight: 700;
}
.email {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.686);
}
.navbarRight {
    gap: 0.5rem;
}
/* ----------------------------------------------------- */

.miniprojectsContainer {
    display: flex;
}
.miniprojSidebar {
    flex: 0.2;
    gap: 2rem;
}
.miniprojSidebarLinks {
    gap: 0.8rem;
}
.miniprojDisplay {
    flex: 0.8;
}
/* -------------------------------------------------- */

.whatiknowContainer {
    gap: 1rem;
}
.whatiknowlabel {
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  width: fit-content;
  border-radius: var(--borderRadius);
  background-color: var(--darkColor);
  color: white;
}
.cards {
    gap: 1rem;
    justify-content: space-between;
}
.card {
    border-radius: 8px;
    height: 14rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    gap: 1rem;
    background-color: lightgray;
}
.cardlabels {
    gap: 0.5rem;
    flex-wrap: wrap;
}
.card img {
    background-size: cover;
    overflow: hidden;
}

/* -------------------------------------------------------- */

.hero {
    min-height: 60vh;
    backdrop-filter: blur(5px);
}
.heroContainer {
    gap: 0.8rem;
    align-items: center;
}
.about {
    align-items: center;
}
.build {
    color: rgba(0, 0, 0, 0.7);
}
.location {
    font-weight: 600;
}
.like {
    font-size: 1.1rem;
}

/* .miniprojectsBody {
    background-color: #000000;
}
.miniprojectsContainer {
    border-radius: 8px !important;
    border: 2px solid #333333 !important;
    color: #c2c2c2;
}
.miniprojSidebar {
    background-color: #111111;
}
.miniprojSidebar {
    background-color: #111111;
    border-radius: 8px;
}
.navbarContainer {
    border: none !important;
} */


.projectsBody {
    padding: 1rem;
}