.projectsBody, .navbarBody, .contactBody {
    padding: 1rem;
    /* background-color: bisque; */
}

.home {
    gap: 1rem;
}

.mine_img {
    width: 5rem;
    border-radius: 50%;
}
.navbarLeft {
    gap: 0.5rem;
}
.name {
    font-size: 1.4rem;
    font-weight: 700;
}
.email {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.686);
}
.navbarRight {
    gap: 0.5rem;
}

.projectsContainer {
    display: flex;
}
.projSidebar {
    flex: 0.2;
    gap: 2rem;
}
.projSidebarLinks {
    gap: 1rem;
}
.projDisplay {
    flex: 0.8;
}

.contactContainer {
    gap: 2rem;
}