:root {
    --bordreRadius: 8px;
    --grayColor: #dee2e6;
    --darkColor: #31363F;
    --blueColor: #0071e3;
    --backgroundColor: #f5f5f7;
    --animationSpeed: 3s;
}
.contactContainer, .projectsContainer, .whatiknowContainer, .heroContainer {
    border: none !important;
}

/* HOME---------------------------------------------- */
.homeBody {
    gap: 4rem;
}

/* NAVBAR--------------------------------------------- */
.mine_img {
    width: 3.5rem;
    border-radius: 50%;
}
.mine_img_res {
    width: 13rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.navbarBody {
    padding: 1rem 2rem;
}
.navbarLeft {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navIcons {
    gap: 1rem;
}
.name {
    font-size: 1.4rem;
    font-weight: 700;
}
.email {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.686);
}
.navbarRight {
    gap: 0.5rem;
}
.navbarOpen {
    display: flex;
    justify-content: center;
    padding: 0rem 2rem;
    gap: 1rem;
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0;
    /* right: 0; */
    right: -50%;
    backdrop-filter: blur(10px);
    z-index: 2000;
}
.closeIcon {
    position: absolute;
    top: 2%;
    right: 10%;
}

/* MINI-PROJECTS----------------------------------------------------- */
.miniprojectsContainer {
    display: flex;
    padding: 0rem !important;
}
.miniprojSidebar {
    flex: 0.2;
    gap: 2rem;
    padding: 1rem;
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    background-color: var(--backgroundColor);
}
.miniprojSidebarLinks {
    gap: 0.8rem;
}
.miniprojDisplay {
    flex: 0.8;
    padding: 1rem;
}

/* HERO-------------------------------------------------------- */
.heroContainer {
    width: 100%;
    padding: 5rem 1rem;
    gap: 1rem;
}
.about {
    margin: .5rem 0;
}
.resheroIcons {
    gap: .5rem;
}
.heroA {
    font-size: 1.2rem;
    font-weight: 500;
}
.heroB {
    font-size: 2.5rem;
    font-weight: 700;
}
.about {
    align-items: center;
}
.build {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease forwards;
}
@keyframes typewriter {
    to {
        left: 100%;
    }
}
@keyframes blink {
    to {
        background-color: transparent;
    }
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* CONTACT------------------------------------------- */
.contactBody {
    display: flex;
    gap: 1rem;
}
.contactwithme {
    border: none !important;
    gap: 1rem;
}
.contactwithmeContianer {
    gap: .5rem;
}
.icons {
    gap: 1rem;
    margin-top: 1rem;
}
.locationDiv, .mailDiv {
    gap: 1rem;
}
.getintouch {
    gap: 1rem;
    width: fit-content;
}
.form {
    gap: 0.5rem;
    width: 40rem;
}
.contactInput {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    border-radius: 8px;
    border: 1px solid lightgray;
}
.formNameEmail {
    gap: 1rem;
}
.formButton {
    width: 100% !important;
    height: 2.8rem;
    margin-top: 0.5rem;
}

/* PROJECTS------------------------------------- */
.projectsContainer {
    gap: 1rem;
}
.projectsCards {
    gap: 1rem;
}
.aboutProject {
    gap: .25rem;
    margin-top: 7rem;
}
.aboutProject .button {
    width: 100%;
}
.projectCard {
    flex-direction: column;
    width: fit-content;
    height: 15rem;
    padding: 1rem;
    border-radius: var(--borderRadius);
    gap: 1rem;
    box-shadow: none !important;
}
.slick-slide > div {
    margin: 0 .5rem;
}
.projectImage {
    border-radius: var(--borderRadius);
}

/* WHATIKNOW---------------------------------- */
.whatiknowContainer {
    gap: 1rem;
}
.skills {
    padding: 0rem .5rem;
    gap: 1rem;
}
.skillsIcons {
    gap: 5rem;
}
.icons {
    flex-wrap: wrap;
}

/* FOOTER------------------------------------- */
.footerContainer {
    justify-content: center;
    gap: .25rem;
    align-items: center;
    padding-bottom: 2rem;
}


/* ANIMATIONS----------------------------------------- */
.scrollTracker {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #0071e3;
    scale: 0 1;
    width: 100%;
    height: .3rem;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: left;
}
@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}
