* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  --borderRadius: 8px;
  --blueColor: #0071e3;
  --backgroundColor: #f5f5f7; 

  --lightContainersBackgroundColor: lightgray;
  --lightBigContainerBackgroundColor: gray;
  --lightContainerBackgroundColor: gray;
  --lightInputBoxBorderColor: lightgray;
  --lightRoundBorderColor: lightgray;

  --darkAppBackgroundColor: #111111;
  --darkAppBodyBackgroundColor: #000000;
  --darkContainersBackgroundColor: #333333;
  --darkInputboxBackgroundColor: #333333;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
input[type="range"], input[type="checkbox"] {
  cursor: pointer;
}
p {
  font-size: 16px;
}


.app {
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  max-width: 1200px;
  margin: auto;
}
.app::-webkit-scrollbar {
  display: none;
}
.appBody {
  min-height: 100%;
  max-width: 100%;
  margin: auto;
  background-color: white;
  margin-bottom: 2rem;
}

/* ------------------------DARK-MODE------------------ */
/* .app {
  background-color: #111111;
}
.appBody {
  background-color: #000000;
  box-shadow: none;
}
.container, .lightContainer, .bigContainer {
  border: 2px solid #333333 !important;
  border-radius: 8px;
}
.inputBox {
  border: 2px solid #333333 !important;
  border-radius: 8px;
}
.button {
  background-color: #ededed;
  color: rgba(0, 0, 0, 0.7);
}
.icon, .title, .name, .email {
  color: white;
} */

/* FONTS------------------------------------------------- */
.title {
  font-size: 1.5rem;
  font-weight: 640;
}
.link {
  font-size: 1.1rem;
  font-weight: 550;
  cursor: pointer;
}
.link:hover {
  color: var(--blueColor);
}
.md-font {
  font-size: 1.1rem;
  font-weight: 550;
}
.password {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 46);
}
.error {
  color: red;
  text-align: start;
}
.key {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}
/* -------------------------------------------------------- */

/* FLEX-------------------------------------------------- */
.flex {
  display: flex;
  align-items: center;
}
.flex-h {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-s {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-e {
  display: flex;
  align-items: center;
  justify-content: end;
}
.center-both {
  display: grid;
  place-items: center;
  min-height: 60vh;
}
/* --------------------------------------------------- */

/* BUTTONS---------------------------------------------- */
.button {
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 550;
  border-radius: 8px;
  border: 1px solid rgba(211, 211, 211, 0.597);
  background-color: var(--blueColor);
  color: white;
  transition: all 0.1s;
}
button:hover {
  background-color: #0071e3dd;
}
/* ---------------------------------------------- */

/* ----------------------------------------------------- */
.inputBox {
  display: flex;
  align-items: center;
  border-radius: var(--borderRadius);
  border: 1px solid lightgray;
}
.inputBox input {
  border: none;
  height: 100%;
  flex: 1;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
}
.container {
  padding: 1rem;
  border-radius: var(--borderRadius);
  border: 1px solid lightgray;
}
.lightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  border-radius: var(--borderRadius);
  border: 1px solid lightgray;
}
.lightpContainer {
  border-radius: var(--borderRadius);
  border: 1px solid lightgray;
  padding: 0.5rem;
}
.bigContainer {
  padding: 2rem 1rem;
  border: 1px solid gray;
  border-radius: var(--borderRadius);
}
/* --------------------------------------------------------------- */

.round {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: all .2s;
}
.round:hover {
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
}

.label {
  padding: 0.5rem 0.8rem;
  font-weight: 600;
  width: fit-content;
  border-radius: var(--borderRadius);
}

@media all and (max-width: 705px) {
  .title {
    font-weight: 500;
    font-size: 1.3rem;
  }
  .link {
    font-weight: 400;
    font-size: 1rem;
  }
  .button {
    font-weight: 500;
    font-size: 0.9rem;
  }
  .inputBox input {
    font-size: 0.9rem;
  }
  .contactInput {
    font-size: 1rem;
  }
  .sidebarBody, .progressbarBody, .loadmoreBody, .paginationBody, .tabsBody, .passwordgenBody, .searchBody, .imagesliderBody, .accordionBody, .modalpageBody, .weatherBody, .scrollbody, .tictactoeBody, .reactpageBody, .javapageBody, .flowingnotesBody, .dadnotesBody, .quizBody, .todolistBody, .currencyBody {
    gap: 1rem;
  }
  .dadnotesContainer, .searchContainer, .tabContainer, .gitfinderContainer, .loadmoreContainer, .quizContainer, .todolistContainer, .currencyContainer {
    min-height: 15rem;
  }
  /* --------------------------- */
  .miniprojects {
    background-color: var(--backgroundColor);
  }
  .miniprojSidebar {
    border-bottom: 1px solid lightgray;
  }
  .bigContainer, .tabContainer {
    background-color: white;
  }
  /* --------------------------- */
  .miniprojectsContainer {
    display: flex;
    flex-direction: column;
  }
  .miniprojSidebarLinks {
    display: grid;
    grid-template-columns: auto auto;
  }
  .inputBox {
    width: 100%;
  }
  .inputBox input {
    width: 50%;
  }
  .miniprojSidebar {
    gap: 1rem;
  }
  .options {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .profileDetails {
    flex-direction: column;
  }
  .passCheckboxes {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .sliderComp img {
    width: 100%;
  }
  .sliderComp .MuiSvgIcon-root {
    font-size: 1.3rem;
  }
  .currentImageCircle .MuiSvgIcon-root {
    font-size: .8rem !important;
  }
  .modal {
    padding: 0rem 1rem;
  }
  .modalBody {
    width: 100%;
  }
  .miniprojects {
    margin-bottom: 1rem;
  }

  .navbarBody {
    padding: .5rem !important;
  }
  .navbarRight {
    display: none;
  }
  .navbarLeft .mine_img {
    display: none;
  }
  .email {
    display: none;
  }

  .name {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .responsiveHero {
    display: block !important;
    text-align: center;
    max-width: 80%;
    margin: auto;
    gap: .5rem;
    padding: 5rem 0rem;
  }
  .fullstack {
    margin-top: 1rem;
  }
  .responsiveHero .build, .hi {
    font-size: 1.5rem;
  }
  .responsiveHero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .responsiveHero .like {
    font-size: .8rem;
  }


  .contactBody {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .getintouch {
    width: 100%;
  }
  .formButtonDiv {
    width: 100%;
  }
  .formButton {
    width: 100% !important;
  }
  .contactInput {
    width: 100%;
  }
  .formNameEmail {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  .form {
    align-items: start;
    width: 100%;
  }

  .heroContainer {
    display: none;
  }
}

