* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  --borderRadius: 8px;
  --blueColor: #0071e3;
  --appleColor: #f5f5f7; 
}

[data-theme="dark"] {
  --bodyBackgrounColor: #000000;
  --bodyBackgrounColor-res: #000000;
  --appbodyColor: #000000;
  --navbarBackgroundColor: #111111;
  --projSidebarBackgroundColor: #111111;

  --graycontainerBorderColor: #333333;
  --lightContainerBorderColor: #333333;
  --lightContainerBorderColor-res: #111111;
  --projSidebarBackgroundColor-res: #111111;

  --keyFontColor: rgba(255, 255, 255, 0.7);
  --linkFontColor: white;
  --titleFontColor: white;
  --pFontColor: white;
  --mdFontColor: white;

  --inputBackgroundColor: #333333;
  --inputBoxBorderColor: #555555;

  --color7: rgba(255, 255, 255, 0.7);

  --iconFontColor: white;
  --roundBorderColor: #333333;

  --hiFontColor: white;

  --modalBackgrounColor: #222222;

  --contactInputBorderColor: #333333;
  --contactInputBackgroundColor: #111111;
  
  --projectCardBorderColor: #333333;

  --navbarOpenBackgroundColor: #111111;
} 
[data-theme="light"] {
  --bodyBackgrounColor: white;
  --bodyBackgrounColor-res: #f5f5f7;
  --appbodyColor: white;
  --navbarBackgroundColor: white;
  --projSidebarBackgroundColor: #f5f5f7;
  --projSidebarBackgroundColor-res: white;

  --graycontainerBorderColor: gray;
  --lightContainerBorderColor: lightgray;
  --lightContainerBorderColor-res: white;
  
  --keyFontColor: rgba(0, 0, 0, 0.7);
  --linkFontColor: black;
  --titleFontColor: black;
  --pFontColor: black;
  --mdFontColor: black;
  
  --inputBackgroundColor: white;
  --inputBoxBorderColor: lightgray;
  
  --color7: rgba(0, 0, 0, 0.7);
  
  --iconFontColor: black;
  --inputboxBorderColor: lightgray;
  --roundBorderColor: lightgray;
  
  --hiFontColor: black;

  --modalBackgrounColor: white;

  --contactInputBorderColor: lightgray;
  --contactInputBackgroundColor: white;

  --projectCardBorderColor: lightgray;

  --navbarOpenBackgroundColor: #lightgray;
}

.navbarOpen {
  background-color: var(--navbarOpenBackgroundColor);
}


/* PROJECTS----------------------------------- */
.contactInput {
  border-color: var(--contactInputBorderColor);
  background-color: var(--contactInputBackgroundColor);
}
.modalBody {
  background-color: var(--modalBackgrounColor);
}
.email, .hero, .build, .contact {
  color: var(--color7);
}
.projectCard {
  border: 1px solid var(--projectCardBorderColor);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.miniprojSidebar {
  background-color: var(--projSidebarBackgroundColor);
}
.hi {
  color: var(--hiFontColor);
}

@media all and (min-width: 705px) {
  .heroContainer .md-font, .like {
    font-size: 1.2rem;
  }
  .hi {
    font-size: 2.8rem !important;
  }
  .heroContainer .location {
    font-size: 1.2rem;
  }
}

/* HTML------------------------------------------- */
a {
  text-decoration: none;
  color: inherit;
}
p {
  color: var(--pFontColor );
}
button {
  cursor: pointer;
}
input[type="range"], input[type="checkbox"] {
  border-color: var(--inputBoxBorderColor);
  cursor: pointer;
}
input, textarea {
  background-color: var(--inputBackgroundColor);
}

body {
  background-color: var(--bodyBackgrounColor);
}
.app {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 1200px;
  margin: auto;
}
.app::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}
.appBody {
  min-height: 100%;
  max-width: 100%;
  margin: auto;
}

/* FONTS------------------------------------------------- */
.title {
  /* font-size: 1.5rem; */
  font-size: 1.6rem;
  font-weight: 640;
  color: var(--titleFontColor);
}
.link {
  /* font-size: 1.1rem; */
  font-size: 1.2rem;
  font-weight: 550;
  cursor: pointer;
  color: var(--linkFontColor);
}
.link:hover {
  color: var(--blueColor);
}
.md-font {
  /* font-size: 1.1rem; */
  font-size: 1.2rem;
  font-weight: 550;
  color: var(--mdFontColor);
}
.error {
  color: red;
  text-align: start;
}
.key {
  font-weight: 600;
  color: var(--keyFontColor);
}
p {
  font-size: 1.1rem;
}
/* -------------------------------------------------------- */

/* FLEX-------------------------------------------------- */
.flex {
  display: flex;
  align-items: center;
}
.flex-h {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-s {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-e {
  display: flex;
  align-items: center;
  justify-content: end;
}
.center-both {
  display: grid;
  place-items: center;
  min-height: 60vh;
}
/* --------------------------------------------------- */

/* BUTTONS---------------------------------------------- */
.button {
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 550;
  border-radius: 8px;
  border: 1px solid rgba(211, 211, 211, 0.1);
  background-color: var(--blueColor);
  color: white;
  transition: all 0.1s;

  
}
button:hover {
  background-color: #0071e3dd;
}
/* ---------------------------------------------- */

/* ----------------------------------------------------- */
.inputBox {
  display: flex;
  align-items: center;
  border-radius: var(--borderRadius);
  border: 1px solid var(--inputBoxBorderColor);
}
.inputBox input {
  border: none;
  height: 100%;
  flex: 1;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius) 0  0 var(--borderRadius);
}
.inputBox .button {
  border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}
.container {
  padding: 1rem;
  border-radius: var(--borderRadius);
  border: 1px solid var(--lightContainerBorderColor);
}
.lightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  border-radius: var(--borderRadius);
  border: 1px solid var(--lightContainerBorderColor);
}
.lightpContainer {
  border-radius: var(--borderRadius);
  border: 1px solid var(--lightContainerBorderColor);
  padding: 0.5rem;
}
.bigContainer {
  padding: 2rem 1rem;
  border: 1px solid var(--lightContainerBorderColor);
  border-radius: var(--borderRadius);
}
/* --------------------------------------------------------------- */

.round {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--roundBorderColor);
  cursor: pointer;
  transition: all .2s;
}
.round:hover {
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
}
.icon {
  color: var(--iconFontColor);
}
.skillsIcon {
  width: 3rem;
}

@media all and (max-width: 705px) {
  body {
    background-color: var(--bodyBackgrounColor-res);
  }
  .app {
    overflow-y: scroll; 
    overflow-x: hidden;
  }
  .skillsIcon {
    width: 3rem;
  }
  .title {
    font-weight: 500;
    font-size: 1.3rem;
  }
  .link {
    font-weight: 400;
    font-size: 16px;
  }
  .button {
    font-weight: 500;
    font-size: 0.9rem;
  }
  .inputBox input {
    font-size: 0.9rem;
  }
  .contactInput {
    font-size: 1rem;
  }
  .sidebarBody, .progressbarBody, .loadmoreBody, .paginationBody, .tabsBody, .passwordgenBody, .searchBody, .imagesliderBody, .accordionBody, .modalpageBody, .weatherBody, .scrollbody, .tictactoeBody, .reactpageBody, .javapageBody, .flowingnotesBody, .dadnotesBody, .quizBody, .todolistBody, .currencyBody {
    gap: 1rem;
  }
  .dadnotesContainer, .searchContainer, .tabContainer, .gitfinderContainer, .loadmoreContainer, .quizContainer, .todolistContainer, .currencyContainer {
    min-height: 15rem;
  }
  /* --------------------------- */
  .miniprojSidebar {
    background-color: var(--projSidebarBackgroundColor-res) !important;
  }
  .bigContainer, .tabContainer {
    background-color: var(--lightContainerBorderColor-res);
  }
  .inputBox {
    border-color: rgba(211, 211, 211, 0.3);
  }
  .lightContainer {
    border-color: rgba(211, 211, 211, 0.3);
  }
  /* --------------------------- */
  .miniprojectsContainer {
    display: flex;
    flex-direction: column;
  }
  .miniprojSidebarLinks {
    display: grid;
    grid-template-columns: auto auto;
  }
  .inputBox {
    width: 100%;
  }
  .inputBox input {
    width: 50%;
  }
  .miniprojSidebar {
    gap: 1rem;
  }
  .options {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .profileDetails {
    flex-direction: column;
  }
  .passCheckboxes {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .sliderComp img {
    width: 100%;
  }
  .sliderComp .MuiSvgIcon-root {
    font-size: 1.3rem;
  }
  .currentImageCircle .MuiSvgIcon-root {
    font-size: .8rem !important;
  }
  .modal {
    padding: 0rem 1rem;
  }
  .modalBody {
    width: 100%;
  }

  .navbarBody {
    padding: .5rem;
  }
  .navbarLeft {
    display: none;
  }
  .navbarContainer {
    justify-content: end;
  }
  .navbarRight {
    justify-content: center;
  }
  .displayNone {
    display: none;
  }

  .email {
    display: none;
  }
  .name {
    font-size: 1.2rem;
    font-weight: 550;
  }

  .heroContainer {
    display: flex !important;
    flex-direction: column;
  }

  .contactBody {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .getintouch {
    width: 100%;
  }
  .formButtonDiv {
    width: 100%;
  }
  .formButton {
    width: 100% !important;
  }
  .contactInput {
    width: 100%;
  }
  .formNameEmail {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  .form {
    align-items: start;
    width: 100%;
  }

  .whatiknowContainer .skills {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .navbarOpen {
    width: 50%;
  }

  .tabContainer {
    border-bottom-color: var(--lightContainerBorderColor);
  }

  .skillsIcons {
    align-items: start;
    gap: 1rem;
    flex-direction: column;
  }
}

