* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  --borderRadius: 8px;

  --lightContainersBackgroundColor: lightgray;
  --lightBigContainerBackgroundColor: gray;
  --lightContainerBackgroundColor: gray;
  --lightInputBoxBorderColor: lightgray;
  --lightRoundBorderColor: lightgray;

  --darkAppBackgroundColor: #111111;
  --darkAppBodyBackgroundColor: #000000;
  --darkContainersBackgroundColor: #333333;
  --darkInputboxBackgroundColor: #333333;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
input[type="range"], input[type="checkbox"] {
  cursor: pointer;
}
p {
  font-size: 16px;
}


.app {
  height: 100vh;
  overflow: scroll;
}
.app::-webkit-scrollbar {
  display: none;
}
.appBody {
  min-height: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding-bottom: 2rem;
}

/* ------------------------DARK-MODE------------------ */
/* .app {
  background-color: #111111;
}
.appBody {
  background-color: #000000;
  box-shadow: none;
}
.container, .lightContainer, .bigContainer {
  border: 2px solid #333333 !important;
  border-radius: 8px;
}
.inputBox {
  border: 2px solid #333333 !important;
  border-radius: 8px;
}
.button {
  background-color: #ededed;
  color: rgba(0, 0, 0, 0.7);
}
.icon, .title, .name, .email {
  color: white;
} */

/* FONTS------------------------------------------------- */
.title {
  font-size: 1.5rem;
  font-weight: 640;
}
.link {
  font-size: 1.1rem;
  font-weight: 550;
  cursor: pointer;
}
.link:hover {
  color: purple;
}
.md-font {
  font-size: 1.1rem;
  font-weight: 550;
}
.password {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 46);
}
.error {
  color: red;
  text-align: start;
}
.key {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}
/* -------------------------------------------------------- */

/* FLEX-------------------------------------------------- */
.flex {
  display: flex;
  align-items: center;
}
.flex-h {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-s {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-e {
  display: flex;
  align-items: center;
  justify-content: end;
}
.center-both {
  display: grid;
  place-items: center;
  min-height: 60vh;
}
/* --------------------------------------------------- */

/* BUTTONS---------------------------------------------- */
.button {
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 550;
  border-radius: 8px;
  border: 1px solid lightgray;
  transition: all 0.1s;
}
button:hover {
  background-color: rgba(128, 128, 128, 0.3);
}
/* ---------------------------------------------- */

/* ----------------------------------------------------- */
.inputBox {
  display: flex;
  align-items: center;
  border-radius: var(--borderRadius);
  border: 1px solid lightgray;
}
.inputBox input {
  border: none;
  height: 100%;
  flex: 1;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
}
.container {
  padding: 1rem;
  border-radius: var(--borderRadius);
  border: 1px solid lightgray;
}
.lightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  border-radius: var(--borderRadius);
  border: 1px solid lightgray;
}
.bigContainer {
  padding: 2rem 1rem;
  border: 1px solid gray;
  border-radius: var(--borderRadius);
}
/* --------------------------------------------------------------- */

.round {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: all .2s;
}
.round:hover {
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
}

.label {
  padding: 0.5rem 0.8rem;
  font-weight: 600;
  width: fit-content;
  border-radius: var(--borderRadius);
}